// GLOBAL CLASSES

@font-face {
  font-family: 'Comfortaa', sans-serif;
  src: url("../fonts/Comfortaa-Light.ttf") format('ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Comfortaa', sans-serif;
  src: url("../fonts/Comfortaa-Bold.ttf") format('ttf');
  font-weight: 900;
}

:root {
  --black: #333;
  --grey: #5b5b5b;
  --lightgrey: #eaeaea;
  --success: #82e150;
  --danger: #ec4237;
}

* {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0.5rem;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

b {
  font-weight: bold !important;
}

body {
  background-image: url("../img/main-bg.png");
}

div {
  width: 100%;
}

#app {
  width: 100%;
  min-height: 100vh;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}

.container {
  width: 80rem;
  display: flex;
  justify-content: space-between;
  //align-items: center;
  padding: 1.2rem 2rem;

  &.white {
    background: white;
  }

  &.stretch-y {
    max-height: 84vh;
    overflow-y: auto;
  }
}

h1 {
  font-weight: bold;

  &.normal {
    font-weight: normal;
  }
}


hr {
  margin: 1.5rem 0;
}

button {
  min-width: 10rem;
  height: 3rem;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: .2s;
  margin: 0 0.5rem;
  box-sizing: content-box;
  padding: 0.2rem 1.5rem;

  &:hover {
    transform: scale(1.05);
  }

  &.success,
  &.danger {
    color: white;
  }

  &.success {
    background: var(--success);
  }

  &.danger {
    background: var(--danger);
  }
}

.footer {
  position: absolute;
  bottom: 0;
  min-height: 6vh;
}

.w-100 {
  width: 100%;
}

.d-flex {
  display: flex;

  &.justify-center {
    justify-content: center;
  }

  &.justify-end {
    justify-content: flex-end;
  }
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mx-0 {
  margin-left: 0;
  margin-right: 0;
}

.companies {
  display: flex;
  flex-wrap: wrap;

  .company {
    padding: 1rem;
    margin: 1rem;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
    width: 30%;

    &:hover {
      box-shadow: -4px 4px 5px -3px rgba(0, 0, 0, 0.5);
    }

    h3 {
      margin-top: 1rem;
      font-weight: bold;

      span {
        font-weight: 300;
      }
    }
  }
}

.no-margin {
  margin-top: 0 !important;
}

.products {
  width: 100%;
  margin-bottom: 2rem;

  .head,
  .body {
    display: flex;

    .info {
      display: block;

      p {
        margin: 1rem 0;
      }
    }

    div {
      width: 25%;
      display: inherit;
      align-items: center;
      justify-content: center;
      padding: 1rem;
    }
  }

  .head {
    background: var(--grey);
    color: white;
  }

  .body {
    div {
      border-right: 1px solid var(--grey);
      border-bottom: 1px solid var(--grey);

      &:first-child {
        border-left: 1px solid var(--grey);
      }
    }
  }
}


// MODALS
.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;

  .modal {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 40vw;
    min-height: 50vh;
    background: white;
    border-radius: 5px;

    &-header {
      width: 100%;
      height: 4rem;
      background: var(--black);
      padding: 0 1rem;
      color: white;

      display: flex;
      align-self: flex-start;
      align-items: center;
    }

    &-body {
      width: 100%;
      padding: 1rem;

      p {
        margin-top: 2rem;

        span {
          color: var(--success);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      .attributes {
        .attribute {
          display: flex;

          p {
            margin-right: 0.5rem;
            margin-top: 0;
          }
        }
      }

      .attributes-add {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .field {
          width: 30%;
        }
      }
    }

    &-footer {
      width: 100%;
      height: 4rem;
      border-top: 1px solid var(--black);
      padding: 0 0.5rem;

      display: flex;
      align-self: flex-end;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
